@namespace StaticWebAppsDemo.Pages

@using StaticWebAppsDemo.Components

@page "/"

<PageTitle>Home</PageTitle>

@if (people is null)
{
    <div class="pt-8">
        <Loading/>
    </div>
}
else
{
    <div class="flex overflow-hidden">
        <ol class="flex items-center w-max p-6 animate-hscroll">
        @foreach(var person in people)
        {
            <li class="transition duration-75 ease-in-out
                    even:rotate-1 odd:-rotate-2 
                    hover:rotate-0 hover:scale-105 md:hover:scale-110
                    no-hover:even:font-serif">
                <PersonCard Person=person/>
            </li>
        }
        </ol>
    </div>
}

@code
{
    [Inject] public IPersonService? PersonService { get; set; }

    private Person[]? people;

    protected override async Task OnParametersSetAsync()
    {
         people = (await PersonService!.GetPeopleAsync(30))?.ToArray();
    }
}