@page "/{blob}"

@if (blob is not null)
{
    <div class="h-full m-auto sm:pr-8 sm:pt-2 md:pr-16 lg:pr-32 ">
        <MarkBlobView Blob="@blob">
            <BlobLoading>
                <Loading/>
            </BlobLoading>
            <BlobNotFound>
                <NotFound/>
            </BlobNotFound>
        </MarkBlobView>
    </div>
}

@code
{
    [Parameter] public string? blob { get; set; }
}