@page "/{blob}"

@if (blob is not null)
{
    <div class="h-full m-auto">
        <MarkBlobView Blob="@blob">
            <BlobLoading>
                <Loading/>
            </BlobLoading>
            <BlobNotFound>
                <NotFound/>
            </BlobNotFound>
        </MarkBlobView>
    </div>
}

@code
{
    [Parameter] public string? blob { get; set; }
}