@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-[calc(1.475rem+2.7vw)] font-light leading-[1.2]">Welcome</h1>
    <p class="mb-4">Learn about <a class="underline text-blue-600" href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
</div>
