@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-[calc(1.375rem+1.5vw)]" >@ViewData["Title"]</h1>

<p class="mb-4">Use this page to detail your site's privacy policy.</p>
