.link-container {
  @apply font-semibold text-base 
         leading-none 
         rounded-[4px] 
         stroke-black dark:stroke-white;

  &:hover {
    @apply no-underline bg-neutral-200/80 
                   dark:bg-neutral-700/70;
  }

}
::deep a {
  @apply py-1 my-1 pl-px
         dark:text-neutral-200;

  &.active {
    @apply bg-neutral-200/80 rounded-[4px]
         dark:bg-neutral-700/70 ;
  }
}
