.accent-blue {
  --accent-color: theme("colors.blue.600");
}
.accent-green {
  --accent-color: theme("colors.green.500");
}
.accent-yellow {
  --accent-color: theme("colors.yellow.500");
}
.accent-indigo {
  --accent-color: theme("colors.indigo.600");
}
.accent-pink {
  --accent-color: theme("colors.pink.600");
}
.accent-black {
  --accent-color: black;
}
.accent-white {
  --accent-color: white;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
