@namespace StaticWebAppsDemo.Components

@if(Person is not null)
{
    <div class="personCard ">

        <div class="personHeader dark:text-gray-800">

            <div class="p-1 md:p-2 md:text-3xl ">@Person.Image</div>

            <div class="pr-2 md:pr-4 font-bold right-2 overflow-hidden dark:text-gray-800" >@Person.Name</div>
        </div>

        <p class="px-3 pt-2 text-sm md:text-base italic line-clamp-5 dark:text-gray-800">@Person.Bio</p>

    </div>
}

@code
{
    [Parameter] 
    [EditorRequired]
    public Person? Person { get; set; }
}