
<NavLink class="px-4 py-2 hover:no-underline" href=@Link Match=NavLinkMatch.All target=@(NewTab ? "_blank" : null)>
    <span class="relative top-px inline-block w-8" aria-hidden="true">
        @ChildContent
    </span> @Text
</NavLink>

@code 
{
    [Parameter]
    public bool NewTab { get; set; }

    [Parameter]
    [EditorRequired]
    public string Text { get; set; }

    [Parameter]
    [EditorRequired]
    public string Link { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; }
}