.repo-link {
  @apply flex m-auto rounded-full pl-1 ml-6;
  @apply ring-1 ring-gray-800;
  @apply hover:scale-110 transition-transform duration-75;
  @apply bg-transparent text-gray-800;
  @apply focus:outline-none;
}

.navbar-toggler {
  @apply sm:hidden;
  @apply bg-transparent ring-[#052767];
}

.navbar-toggler-icon {
  @apply inline-block items-center align-middle;
  @apply text-black dark:text-white;

  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
