@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TailBlazorPages</title>
    <link rel="stylesheet" href="~/css/TailBlazorPages.min.css" asp-append-version="true" />
    <base href="/" />

</head>
<body>
    <header>
        <nav class="navbar border-bottom shadow-md mb-4">
            <div class="flex container flex-wrap m-auto px-3 items-center justify-between transition-all duration-75">

                <a class="py-2 mr-4 text-xl whitespace-nowrap" asp-area="" asp-page="/Index">TailBlazorPages</a>


                <button id="collapseButton" class="sm:hidden px-3 py-1 mr-1 ring-1 rounded-md
                                                stroke-black/60  ring-black/10
                                                  dark:stroke-slate-300 dark:ring-slate-300/90" 
                        type="button" aria-label="Toggle navigation">
                    <svg class="w-8 h-8" fill="none"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                </button>


                <div id="navbar" class="navbar-collapse relative">
                    
                    <div class="absolute right-0 top-0 sm:hidden"><component type="typeof(DarkSwitch)" render-mode="ServerPrerendered" /></div>
                    
                    <ul class="flex flex-col sm:flex-row flex-grow pl-0 mx-0">
                        <li class="">
                            <a class="block px-0 sm:px-2 py-2" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li >
                            <a class="block px-0 sm:px-2 py-2" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

                <span class="hidden sm:block"><component type="typeof(DarkSwitch)" render-mode="ServerPrerendered" /></span>

            </div>
        </nav>
    </header>
    <div class="container m-auto px-3">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top absolute bottom-0 w-full whitespace-nowrap leading-[60px] text-slate-500">
        <div class="container m-auto px-3">
            &copy; 2021 - TailBlazorPages - <a class="underline text-blue-600" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>