@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./obj/scopedcss/bundle/TailBlazor.styles.css";
@import "./Pages/Markdown.nested.css";
@import "./prism.css";

.mc-code-block {
  @apply grid-cols-[min-content,auto];
}

.mc-code-filename {
  @apply col-span-2;
}

.mc-code-ins {
      @apply bg-green-300/30 no-underline;
    before:content-['+'] ;
}

.mc-code-del {
      @apply bg-red-400/30 no-underline;
    before:content-['-'] ;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
