@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./obj/scopedcss/bundle/TailBlazor.styles.css";
@import "./Pages/Markdown.nested.css";
@import "./prism-vsc-dark-plus";

.mc-code-block {
  @apply font-mono font-bold
         mr-4 my-6 rounded-t-lg
         bg-zinc-800 text-neutral-200;

  .mc-code-lines {
    @apply grid grid-cols-[min-content,auto]
           text-[95%] font-light tracking-tight leading-[1.22]
           pb-6 pt-3 overflow-auto
           scrollbar-thin !scrollbar-thumb-neutral-400 !scrollbar-track-neutral-200;  
  }

  .mc-code
  {
    @apply pr-6;
  }
    
  .mc-code-filename {
    @apply bg-blue-500 text-black text-lg italic pl-6 rounded-t-lg;
  }

  .mc-diff
  {
    @apply w-6 text-center;
  }         

  .mc-ins {
      @apply bg-green-300/20 no-underline;
      &.mc-diff {
        @apply before:content-['+'];
      }
  }

  .mc-del {
      @apply bg-red-400/20 no-underline;
      &.mc-diff {
        @apply before:content-['-'];
      }
  }
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
