@namespace StaticWebAppsDemo.Components

@if (found is null)
{
    <div class="flex h-full">@BlobLoading</div>
}
else if (found is false)
{
    <div class="flex h-full">@BlobNotFound</div>
}
else
{
    <div class="markblob w-full max-w-[960px]">
        @((MarkupString)content)
    </div>
} 