@namespace StaticWebAppsDemo.Components

<div class="h-full max-w-[960px] text-lg @(found is true ? "" : "flex")">
   @if (found is null)
   {
      <Loading />
   }
   else if (found is false)
   {
      <NotFound />
   }
   else
   {
        @((MarkupString)content)
   } 
</div>