@namespace StaticWebAppsDemo.Components

@if (found is null)
{
    <div class="flex h-full">@BlobLoading</div>
}
else if (found is false)
{
    <div class="flex h-full">@BlobNotFound</div>
}
else
{
    <div class="markblob w-full max-w-[960px]
                pl-px pr-4 pt-4
                sm:pl-4 sm:pr-8  
                md:pl-8 md:pr-12  
                lg:pl-12 lg:pr-16
                xl:pl-16">
                
        @((MarkupString)content)
    </div>
} 