@namespace StaticWebAppsDemo.Components

<div class="h-full max-w-[960px] text-lg dark:font-semibold @(found is true ? "" : "pt-24")">
   @if (found is null)
   {
      @BlobLoading
   }
   else if (found is false)
   {
      @BlobNotFound
   }
   else
   {
        @((MarkupString)content)
   } 
</div>