@namespace StaticWebAppsDemo.Components

@if (found is null)
{
    @BlobLoading
}
else if (found is false)
{
    @BlobNotFound
}
else
{
    <div class="w-full max-w-[960px] text-lg @(found is true ? "" : "pt-24")">
        @((MarkupString)content)
    </div>
} 