@page "/"
@namespace BlazorServer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="w-screen h-screen">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Server</title>
    <link rel="stylesheet" href="/TailBlazor.min.css" />
    <base href="/" />
</head>

<body>

    <div class="bg-gray-100 dark:bg-gray-600 w-screen h-screen">
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="">Reload</a>
        <a>🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
